.table__data {
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;

    @media screen and (min-width: 992px) {
        font-size: 1.5rem;
        max-width: 27.5rem;
        padding-left: 2.8rem;
        text-align: left;
        &:nth-child(2){
            padding-left: 5rem;
        }

        &:nth-child(3) {
            max-width: min-content;
        }

    } 
}