.spiner-container {

    height: 100vh;
    background-color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    &__spinner {
        width: 5rem;
        height: 5rem;
        border-top: 2px solid #382039;
        border-radius: 50%;
        animation: spin .5s linear infinite ;
    }
}


@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}