.profile {
	&-user {
		&__data {
			@media screen and (min-width: 992px) {
				margin-left: 14.7rem;
				margin-right: 19.1rem;
			}
		}

		&__repositories {
			background-color: #fff;
			padding-top: 1rem;
			margin-top: 1rem;

			.title {
				color: $color-neutral-blue;
				margin-left: 3.2rem;
				margin-top: 3rem;
				font-size: 2rem;
				margin-bottom: 1.7rem;
			}
		}
	}
}

.horizontal-line {
	max-width: 100%;
}

.user-info {
	background-image: linear-gradient($overall-page-gradient);
}
