html, body {
  height: 100%;
}

body {
  margin: 0;
}

.container {
  max-width: auto;
  margin: 0 auto;
  padding: 15px;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}