@font-face {
  font-family: "Gotham-Bold";
  src: local("Gotham"), url(~/assets/fonts/Gotham/GothamBold.ttf) format("opentype");
}
@font-face {
  font-family: "Gotham-Book";
  src: local("Gotham"), url(~/assets/fonts/Gotham/GothamBook.ttf) format("opentype");
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(~/assets/fonts/Roboto/Roboto-Regular.ttf) format("opentype");
}
@font-face {
  font-family: "Futura Bk BT";
  src: local("Futura"), url(~/assets/fonts/Futura/FutuBk.ttf) format("opentype");
}
html {
  overflow: auto !important;
}