*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

html {
    font-size: 62.5%;
    line-height: 1;

    @media screen and (min-width: 768px) {
        font-size: 70%;
    }
}

:root {
	--color-primary: #382039;
	--color-primary-dark: #200f21;

	--color-secondary: #5a3d5c;
	--color-secundary-bright: #fd71ea;

    --color-purple: #a51c92;
    
	--linear-gradient-from: #a51c92;
	--linear-gradient-to: #f638dc;
}