*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

html {
    font-size: 62.5%;
    line-height: 1;

    @media screen and (min-width: 768px) {
        font-size: 70%;
    }
}
