$color-primary: #382039;
$color-primary-dark: #200f21;

$color-secondary: #5a3d5c;
$color-secundary-bright: #fd71ea;

$color-white : #F0F0F0;

$color-purple: #a51c92;

$color-neutral-blue : #3d5879;

$linear-gradient-from: #a51c92;
$linear-gradient-to: #f638dc;

$gradient: 90deg, $linear-gradient-from 0%, $linear-gradient-to 100%;
$overall-page-gradient: 359.67deg, #efeeee 0.46%, #ffffff 99.42%;