
body {
  background: #EFEEEE ;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: 0px;
  top: 0px;
  position: absolute;
  overflow-x: hidden;
}

