
body {
  width: 1200px;
  height: 1000px;
  background: #EFEEEE ;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: hidden;
}

