@font-face {
  font-family: "Futura Bk BT";
  src: url("/src/assets/fonts/Futura_bk_bt/FutuBkIt.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.gitBtn {
  width: 64px;
  height: 56px;
  margin: 0 0 0 33.2rem;
  cursor: pointer;

  background: #5a3d5c;
  border-radius: 2px;
}

.search_case {
  background: #ffffff;
}

.search_case_input {
  display: flex;
  margin: 27.3rem 0 0 13rem;
}

.search_input {
  
  width: 563px;
  height: 56px;
  
  /* White */
  
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}

.search_input,
input[type="text"] {
  padding-left: 50px;
}

.search_icon {
  margin: 1.1rem 0 0 -34.4rem;
  font-size: 19.2px;
  z-index: 2;

  color: #4f4f4f;
}

.alert {
  margin: 2rem 0 0 13.5rem;
  width: 600px;
  height: 160px;
  border-radius: 20px;
  letter-spacing: -1px;

  background: linear-gradient(90deg, #a51c92 0%, #f638dc 100%);
}

.alert > h2 {
  font-family: "Gotham";
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 40px;
  margin: 0 0 0 5rem;

  color: #f0f0f0;
}

.alert > span {
  font-family: "Futura Bk BT";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  margin: 1.2rem 0 0 7rem;
  /* or 286% */

  display: flex;
  align-items: center;

  /* White */

  color: #f0f0f0;
}

.alert > span > img {
  width: 75px;
  margin-left: 50px;
}

.close {
  display: none;
}

.btnclose {
  color: #ffffff;
  background: linear-gradient(90deg, #a51c92 0%, #f638dc 0%);
  margin: 0 0 0 35rem;
  border-radius: 50%;
}

@media (max-width: 825px) {

    .search_case_input {
      display: flex;
      margin: 20rem 0 0 0;
    }

    .sociais {
      margin: 20rem 0 0 10.5em;
    }

    .search {
      width: 250px;
      height: 3.5rem;
      background: #ffffff;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      border-radius: 4px;
      margin: 0 3.7rem 0 2.69rem;
  }

  .gitBtn {
    width: 64px;
    height: 56px;
    margin-left: 472px;
    /* margin: 0 5px 0 36.2rem; */
    cursor: pointer;
    background: #5a3d5c;
    border-radius: 2px;
  }

  .alert {
    width: 100%;
    height: 100%;
  }
}