.Alert {
  background: linear-gradient(90deg, #A51C92 0%, #F638DC 100%);
  color: white;
  width: 450px;
  border-radius: 5px;
  top: 10px;
  right: 10px;
  position: fixed;
  padding: 20px;
}

.Footer {
  display: flex;
  font-size: 0.7rem;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 800px){
  .Alert {
    width: 200px;
  }
}