.Container {
  width: 80%;
  margin: auto;
  padding-top: 5%;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

@media (max-width: 800px) {
  .Nav {
    height: 200px;
    flex-direction: column;
    justify-content: space-between;
  }
}